.wrapper {
    max-width: 1200px;
    width: 80%;
    margin: 0 auto;
}

img {
    display: block;
    max-width: 100%;
}

button {
    cursor: pointer;
    border: none;
    background-color: $quinary;
    padding: 10px 20px;
    font-weight: bold;
    letter-spacing: 1px;
}

a {
    display: inline-block;
}

section {
    padding: 100px;
}