html {
    scroll-behavior: smooth;
}

.wrapper {
    max-width: 1200px;
    width: 80%;
    margin: 0 auto;
}

img {
    display: block;
    max-width: 100%;
}

button,
.readMore {
    cursor: pointer;
    border: none;
    background-color: $quinary;
    padding: 10px 25px;
    letter-spacing: 1px;
    transition-property: all;
    transition-duration: 0.8s;

    &:focus-within,
    &:hover {
        color: white;
    }
}

.readMore {
    font-size: 1rem;
    color: black;
    text-align: center;
    line-height: 32px;
    text-transform: uppercase;
    font-weight: bold;
    font-family: inherit;
}

a {
    display: inline-block;
}

//overlay menu fade in
    
.hamburgerOverlayMenu {
    animation: fadeInAnimation ease 0.3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.rotateHamburgerIcon {
    animation: rotateMenuIcon ease 0.3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.unrotateHamburgerIcon {
    animation: unrotateMenuIcon ease 0.3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

// page load fade in
body {
    animation: fadeInAnimation ease 2s ;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

//scroll to top button

.scrollToTop {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 30;
    bottom: 20%;
    right: 2%;
    border-radius: 15%;
    padding: 10px 15px;
    display: none;
    animation: fadeInAnimation ease 0.3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes rotateMenuIcon {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(90deg);
    }
}

@keyframes unrotateMenuIcon {
    0% {
        transform: rotate(90deg);
    }

    100% {
        transform: rotate(0deg);
    }
}