html {
    scroll-behavior: smooth;
}

.wrapper {
    max-width: 1200px;
    width: 80%;
    margin: 0 auto;
}

img {
    display: block;
    max-width: 100%;
}

button {
    cursor: pointer;
    border: none;
    background-color: $quinary;
    padding: 10px 25px;
    letter-spacing: 1px;

    &:focus-within {
        color: white;
        transition-property: all;
        transition-duration: 0.8s;
    }
}

a {
    display: inline-block;
}