// overall
.blogBody {
    background-color: $whiteShade;
    
    // navigation
    .topNav {
        padding: 20px 0;
        background-color: $tertiary;

            li:nth-child(4) {
                color: $whiteShade;
            }
    }

    // header
    header {

        .wrapper {
            position: relative;
        }

        h1 {
            position: absolute;
            bottom: -39px;
            left: 0px;
        }

        img {
            object-fit: contain;
            width: 100%;
        }
    }

    section {
        padding: 100px 0;
    }

    .blogSection {
        background-color: white;
        padding: 40px;
        margin-top: 40px;
    }
    
    .recentPosts .blogHeading {
        margin-top: 0px;
    }
}

// main section
.blogFlex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    // blog information and blog content sub-section
    .blogInformation {
        flex-basis: calc(100% / 3);

        .blogHeading {
            font-size: 1.2rem;
            letter-spacing: 1px;
            text-transform: uppercase;
            font-weight: 700;
        }

        .recentPosts {

            li {
                position: relative;
                padding-left: 20px;

                    &::before {
                        content: "";
                        display: inline-block;
                        background-color: $tertiary;
                        width: 5px;
                        height: 5px;
                        border-radius: 50%;
                        position: absolute;
                        top: 45%;
                        left: 0;
                    }
            }

        }

    }

    .blogContent {
        flex-basis: calc(((100% / 3) * 2) - 4%);
            
        .blogPost {
            border-bottom: 6px solid $tertiary;    

            .blogPublisher {
                font-style: italic;
            }

            .blogUsername {
                color: #25595E;
                font-weight: bold;
            }
        }
    }

    // comment sub-section
    .blogComments {
        border-bottom: 6px solid $tertiary;
    
        .comment {
            display: flex;

            .commentImageContainer {
                width: calc(100% / 6);
            }

            .commentText {
                width: calc((100% / 6) * 5);
                margin-left: 10px;
            }
        }

        .commentPublisher {
            color: #25595E;
            font-weight: bold;
            font-style: italic;
            margin: 0;
        }
    }

    // form sub-section 
    .blogForm {
        margin-top: 40px;
    }
}