.contactBody {
    
    // navigation
    .topNav {
        padding: 20px 0;
        background-color: $tertiary;
    
        li:nth-child(5) {
            color: $whiteShade;
        }
    }


    // header
    header {

        img {
            object-fit: cover;
            width: 100%;
        }
        
        .wrapper {
            position: relative;
        
            h1 {
                position: absolute;
                bottom: -40px;
                left: 0;
            }
        
        }
    }
}