// home page media queries

@media (max-width: 1240px) {

    // home header (HOME)
    .headerHome {
        .headerContent {
        
            h1 {
                font-size: 5.5rem;
            }
        
            .headerImage {
                height: auto;
        
                img {
                    position: initial;
                }
            }
        }
    }
}

@media (max-width: 1060px) {

    // home header (HOME)
    .headerHome {

        .headerContent {
            min-height: 50vh;

            h1 {
                padding-left: 0;
                width: 100%;
                text-align: center;
            }

            .headerTitleImage {

                img {
                    top: -64px;
                    left: 50%;
                    transform: translateX(-50%);
                    rotate: 380deg;
                }
            }

            .headerImage {
                
                img {
                    box-shadow: 10px 10px 0px 2px white;
                }
            }
        }
    }
}

@media (max-width: 940px) {

    // top navigation (ALL PAGES)

    .topNav {
        padding: 40px 0;

        ul {
            display: none;
        }

        .smallDevicesNav {
            display: block;
            width: 100%;
            position: relative;

            button {
                position: absolute;
                right: 0;
                top: -6px;
                background-color: $tertiary;
                padding: 0;
                font-size: 40px;
                top: 50%;
                transform: translateY(-50%);
            }
        }
    }

    // top navigation home page (HOME)

    .homeBody {

        .topNav {
            padding-top: 20px;
            position: relative;

            .smallDevicesNav {
                position: static;

                button {
                    top: 59%;
                }
            }
        }
    }

    // header (HOME)
    .headerHome {

        .headerContent {
            flex-direction: column;
            padding-top: 0;
            justify-content: center;

            .headerTitleImage {
            
                img {
                    top: -94px;
                }
            }

            .headerImage {
                width: 60%;
                display: flex;
                justify-content: center;

                img {
                    box-shadow: none;
                    border: 4px white solid;
                }
            }
        }

        .headerText {
            margin-top: 100px;
            width: 100%;

            h1 {
                font-size: 4.5rem;
                position: relative;
                top: -28px;
            }
            
        }
    }

    // about sophie (HOME)

    .aboutSophieFlex {
        text-align: center;

        p {
            margin: 40px 0;
        }
    }

    // sophie history (HOME)

    .sophieHistory {

        p {
            margin: 40px 0;
        }

        .sophieFavourite {

            .favouriteImage {
            
                width: 100%;
                box-shadow: -12px -12px 0 2px $senary;
            
                img {
                    position: initial;
                }
            }

            .favouriteText {
                width: 100%;
                padding: 0;
                margin: 20px 0 60px 0;
                text-align: center;
            }
        }
        
        .sophieTravel {

            .travelledImage {
                order: -1;
                width: 100%;
                margin-left: 0;
                box-shadow: 12px 12px 0 2px $tertiary;

                img {
                    position: initial;
                }
            }

            .travelledText {
                width: 100%;
                padding: 0;
                margin: 20px 0 0 0;
                text-align: center;
            }
        }
    }

    .absoluteSenary,
    .absoluteTertiary {
        display: none;
    }

    .sophieFavourite,
    .sophieTravel {
        flex-direction: column;
    }

    // bottomNav (HOME)

    .bottomNavFlex {
        flex-direction: column;

        .marginFixNav {
            margin-left: 38px;
        }
    }

    // sophie journey section (HOME)

    .journeyText {
        text-align: center;

        a {
            width: 100%;
        }
    }

    .sophieJourney img {
        height: 100%;
        object-fit: cover;
    }

    // gallery (HOME)

    .galleryFlex {
        flex-direction: column;
        justify-items: center;

        .galleryItem {
            display: flex;
            justify-content: center;
            margin: 20px 0;
        }
    }

    // contact main content(CONTACT PAGE)
    .contactOverall {
        padding: 75px 0px 150px 0px;
        
        .contactFlex {
            flex-direction: column;
            align-items: center;
        }

        .contactInformation {
            width: 66%;
            position: relative;

            .socialMediaBar {
                position: absolute;
                top: -33%;
                left: 50%;
                transform: translateX(-50%);
                display: flex;
                justify-content: space-between;
                width: 100%;

                .contactIconContainer {
                    margin: 0;
                }
            }
        }

        i {
            font-size: 1.5rem;
        }
    }

    // Blog main content (BLOG)

    .blogFlex {
        flex-direction: column;

        .blogInformation {
            display: flex;
            width: 100%;
            justify-content: space-between;
        }

        .blogAuthor,
        .recentPosts {
            width: 49%;
        }

        .blogContent {
            width: 100%;
        }

        .blogPost {
            margin-top: 20px;
        }
    }
}

@media (max-width:768px) {
    
    // overall (HOME)

    .homeBody .readMore {
        min-width: 60%;
    }

    .wrapper {
        max-width: 90%;
    }

    // sophie travelled section (HOME)

    .sophieHistory h3 {
        margin-top: 20px;
    }

    // sophie journey (HOME)

    .sophieJourney {

        .sophieJourneyFlex {
            flex-direction: column;
            align-items: center;
        
            .journeyImageContainer {
        
                img {
                    box-shadow: none;
                    border: 4px solid $tertiary;
                }
        
            }
        
        }

        h3 {
            margin-top: 30px;
        }
    }

    // contact header (CONTACT PAGE)
    
    .contactBody h1 {
        font-size: 3.2rem;
        width: 100%;
        text-align: center;
    }

    // contact main content (CONTACT PAGE)

    .contactOverall {

        .contactInformation,
        .blogForm {
            width: 100%
        }

        .formFlex {

            .personalDetails {
                flex-direction: column;
                width: 100%;
                margin: 20px 0px 0px 0px;
            
                input {
                    margin: 0px 0px 20px 0px;
                    width: 100%;

                    &[type="text"] {
                        margin-right: 0;
                    }
                }
            }
        }
    }

    // blog main content (BLOG)

    .blogFlex {

        .blogInformation {
                flex-direction: column;
                width: 100%;
        }
        
        .blogAuthor,
        .recentPosts {
            width: 100%;
            margin-top: 20px;
        }

        .authorImageContainer {
            height: 400px;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: 0% 35%;
            }
        }

        .commentImageContainer img {
            border-radius: 50%;
            margin: 0 0 10px 10px;
        }

        .blogComments .comment {
            flex-direction: column;

            .commentText {
                width: 100%
            }
        }

        .formFlex {
            flex-direction: column;

            .personalDetails {
                flex-direction: column;

                input[type="text"],
                input[type="email"] {
                        width: 100%;
                        margin: 0 0 10px 0;
                    }

            }
            
        }
    }
}

@media (max-width: 600px) {
    
    // overall

    .headerImageContainer {
            height: 25vh;
    }
    // contact header (CONTACT)

    .contactBody header {
        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
        }

        h1 {
            bottom: 70px;
            line-height: 3.6rem;
        }
    }
    // blog main content (BLOG)

    .blogBody {
        
        .headerImageContainer {

            img {
                height: 100%;
                width: 100%;
                object-fit: cover;
                object-position: 65%;
            }
        }
    }
}

@media (max-width: 480px) {

    //top nav (ALL PAGES)

    .topNav {

        .smallDevicesNav button {
            right: 10px;
        }
    }

    .wrapper {
        width: 100%;
    }

    // home header (HOME)

    .headerHome {

        .headerContent {
            top: 10%;

            h1 {
                font-size: 3.5rem;
            }

            .headerTitleImage img {
                top: -75px;
            }
        }
    }

    // about sophie section (HOME)

        .aboutSophie {
            padding: 75px 0;
        }

    // bottom nav section (HOME)

    .bottomNav {
        padding-bottom: 0;

        .bottomNavSection {
            position: relative;

            .botNavContainer {
                position: absolute;
            }
            
            .bottomNavText {
                margin-left: 0;

                h3 {
                    font-size: 1.4rem;
                    margin-left: 75px;
                }
            }
        }
    }

    //decorative section (HOME)

    .decorativeSection {
        display: none;
    }

    // sophie journey section (HOME)

    .sophieJourney {
        padding-top: 50px;
    }

    // blog main content (BLOG)

    .blogFlex .authorImageContainer {
        height: auto;
    }
}

@media (max-width: 342px) {
    
    //bottom nav section (HOME)

    .getInTouchNav .iconContainer {
        top: -7px;
    }
}

// reduced motion media query (Overall)

@media (prefers-reduced-motion: reduce) {
    html {
        scroll-behavior: auto;
    }

    body {
        animation: none;
    }
}