// home page media queries

@media (max-width: 1240px) {

    // header
    .headerHome {
        .headerContent {
        
            h1 {
                font-size: 5.5rem;
            }
        
            .headerImage {
                height: auto;
        
                img {
                    position: initial;
                }
            }
        }
    }
}

@media (max-width: 1060px) {

    // header
    .headerHome {

        .headerContent {
            min-height: 50vh;

            h1 {
                padding-left: 0;
                width: 100%;
                text-align: center;
            }

            .headerTitleImage {

                img {
                    top: -64px;
                    left: 50%;
                    transform: translateX(-50%);
                    rotate: 380deg;
                }
            }

            .headerImage {
                
                img {
                    box-shadow: 10px 10px 0px 2px white;
                }
            }
        }
    }
}

@media (max-width: 940px) {

    // navigation

    .topNav {
        padding: 40px 0;

        ul {
            display: none;
        }

        .smallDevicesNav {
            display: block;
            width: 100%;
            position: relative;

            button {
                position: absolute;
                right: 0;
                top: -6px;
                background-color: $tertiary;
                padding: 0;
                font-size: 40px;
            }
        }
    }

    // header
    .headerHome {

        .headerContent {
            flex-direction: column;
            padding-top: 0;
            justify-content: center;

            .headerTitleImage {
            
                img {
                    top: -94px;
                }
            }

            .headerImage {
                width: 60%;
                display: flex;
                justify-content: center;

                img {
                    box-shadow: none;
                    border: 4px white solid;
                }
            }
        }

        .headerText {
            margin-top: 90px;
            width: 100%;

            h1 {
                font-size: 4.5rem;
                position: relative;
                top: -28px;
            }
            
        }
    }

    // about sophie

    .aboutSophieFlex {
        text-align: center;

        p {
            margin: 40px 0;
        }
    }

    // sophie history

    .sophieHistory {

        p {
            margin: 40px 0;
        }

        .sophieFavourite {

            .favouriteImage {
            
                width: 100%;
                box-shadow: -12px -12px 0 2px $senary;
            
                img {
                    position: initial;
                }
            }

            .favouriteText {
                width: 100%;
                padding: 0;
                margin: 20px 0 60px 0;
                text-align: center;
            }
        }
        
        .sophieTravel {

            .travelledImage {
                order: -1;
                width: 100%;
                margin-left: 0;
                box-shadow: 12px 12px 0 2px $tertiary;

                img {
                    position: initial;
                }
            }

            .travelledText {
                width: 100%;
                padding: 0;
                margin: 20px 0 0 0;
                text-align: center;
            }
        }
    }

    .absoluteSenary,
    .absoluteTertiary {
        display: none;
    }

    .sophieFavourite,
    .sophieTravel {
        flex-direction: column;
    }

    // bottomNav

    .bottomNavFlex {
        flex-direction: column;

        .marginFixNav {
            margin-left: 38px;
        }
    }

    // sophie journey section

    .journeyText {
        text-align: center;

        a {
            width: 100%;
        }
    }

    .sophieJourney img {
        height: 100%;
        object-fit: cover;
    }

    // gallery

    .galleryFlex {
        flex-direction: column;
        justify-items: center;

        .galleryItem {
            display: flex;
            justify-content: center;
            margin: 20px 0;
        }
    }
}

@media (max-width:768px) {
    
    // overall

    .homeBody .readMore {
        min-width: 60%;
    }

    // sophie travelled section

    .sophieHistory h3 {
        margin-top: 20px;
    }

    // sophie journey

    .sophieJourney {

        .sophieJourneyFlex {
            flex-direction: column;
            align-items: center;
        
            .journeyImageContainer {
        
                img {
                    box-shadow: none;
                    border: 4px solid $tertiary;
                }
        
            }
        
        }

        h3 {
            margin-top: 30px;
        }
    }
}

@media (max-width: 480px) {

    //top nav

    .topNav {

        .smallDevicesNav button {
            right: 10px;
            top: -10px;
        }
    }

    // header content

    .headerHome {

        .wrapper {
            width: 100%;
        }

        .headerContent {
            top: 10%;

            h1 {
                font-size: 3.5rem;
            }

            .headerTitleImage img {
                top: -75px;
            }
        }
    }

    // about sophie section

        .aboutSophie {
            padding: 75px 0;
        }

    // bottom nav section

    .bottomNav {
        padding-bottom: 0;
    }

    //decorative section

    .decorativeSection {
        display: none;
    }

    // sophie journey section

    .sophieJourney {
        padding-top: 50px;
    }
}

// reduced motion media query

@media (prefers-reduced-motion: reduce) {
    html {
        scroll-behavior: auto;
    }

    body {
        animation: none;
    }
}