.skipMainContent {
    position: absolute;
    left: -100%;
    background: white;
    color: $tertiary;
    font-family : $headingFont;
    padding: 10px ;
    transition-duration: 0.2s;
    transition-property:all;
    z-index: 30;
}

.skipMainContent:focus-within {
    left: 0;
}