.sophieHistory {
    padding: 100px 0;
    
    .historySection {
        width: 50%;
    }

    .sophieFavourite {
        padding-bottom: 100px;
    }

}

.sophieFavourite,
.sophieTravel {
    width: 100%;
    display: flex;
}