.blogForm {
    
    .formFlex {
        display: flex;
        flex-direction: column;

        .personalDetails {
            display: flex;
            justify-content: space-between;
            margin-bottom: 2%;
            width: 100%;

            input {
                flex-basis: 49%;
                width: 49%;
                border: none;
                padding: 20px 30px;

                    &::placeholder {
                        color: $quaternary;
                        opacity: 1;
                        font-family: inherit;
                        font-style: italic;
                    }

                    &[type="text"] {
                        margin-right: 2%;
                    }
            }
        }

        textarea {
            border: none;
            resize: none;
            padding: 20px 30px;
            margin-bottom: 2%;

            &::placeholder {
                color: $quaternary;
                opacity: 1;
                font-family: inherit;
                font-style: italic;
            }
        }
    }
}