.homeBody {
    li:nth-child(1) {
        color: $whiteShade;
    }
}

.topNav {
    padding: 20px 0;
    background-color: $tertiary;

    ul {
        display: flex;
        justify-content: center;
        align-items: center;

        li {
            margin: 0 30px;
            text-transform: uppercase;
            font-weight: 700;
            transition-property: all;
            transition-duration: 0.5s;

            &:focus-within,
            &:hover {
                color: white;
            }
        }
    }

    .logo {
        transition-property: all;
        transition-duration: 0.5s;
    
        &:focus-within,
        &:hover {
            color: white;
        }
    }

    .smallDevicesNav {
        display: none;
    }
}

.navigationBar {
    background-color: $tertiary;
}