
// site fonts

$headingFont: 'Lora',
serif;

$bodyFont: 'Roboto',
sans-serif;

$baseFontSize: 1rem;

// site colours

$primary: #2C2C2C;

$secondary: #285E64;

$tertiary: #F6A823;

$quaternary: #4F4F4F;

$quinary: #25C8DB;

$senary: #A82706;

$whiteShade: #F0EFED;