@import url("https://fonts.googleapis.com/css2?family=Lora:wght@700&family=Roboto:wght@400;700&display=swap");
html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  font-size: 125%;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  color: #2C2C2C;
  letter-spacing: 0px;
  line-height: 32px;
}

h1 {
  font-family: "Lora", serif;
  margin: 0;
}

h2,
h3,
h4 {
  margin: 0;
  color: #2C2C2C;
}

h1 {
  font-size: 4rem;
  line-height: 4.6rem;
  letter-spacing: 0px;
  text-transform: uppercase;
}

h2 {
  font-size: 2.1rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: bold;
}

h3 {
  font-size: 1.6rem;
  letter-spacing: 1px;
  text-transform: uppercase;
}

h4 {
  font-size: 1.2rem;
  letter-spacing: 1px;
}

h5 {
  font-size: 1.2rem;
  color: rgb(246, 246, 246);
  letter-spacing: 1px;
}

address {
  font-style: normal;
  font-size: 1rem;
  color: black;
  font-family: inherit;
  letter-spacing: 0px;
  line-height: 32px;
}

button {
  font-size: 1rem;
  color: black;
  text-align: center;
  line-height: 32px;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: bold;
}

nav {
  font-size: 1rem;
  line-height: 29px;
  letter-spacing: 1px;
}

ul {
  list-style-type: none;
}

ul,
li,
a,
body {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
  font-family: inherit;
  cursor: pointer;
}

.logo {
  font-family: "Lora", serif;
  font-size: 2.1rem;
  text-transform: uppercase;
}

html {
  scroll-behavior: smooth;
}

.wrapper {
  max-width: 1200px;
  width: 80%;
  margin: 0 auto;
}

img {
  display: block;
  max-width: 100%;
}

button,
.readMore {
  cursor: pointer;
  border: none;
  background-color: #25C8DB;
  padding: 10px 25px;
  letter-spacing: 1px;
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.8s;
          transition-duration: 0.8s;
}
button:focus-within, button:hover,
.readMore:focus-within,
.readMore:hover {
  color: white;
}

.readMore {
  font-size: 1rem;
  color: black;
  text-align: center;
  line-height: 32px;
  text-transform: uppercase;
  font-weight: bold;
  font-family: inherit;
}

a {
  display: inline-block;
}

body {
  -webkit-animation: fadeInAnimation ease 2s;
          animation: fadeInAnimation ease 2s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.skipMainContent {
  position: absolute;
  left: -100%;
  background: white;
  color: #F6A823;
  font-family: "Lora", serif;
  padding: 10px;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
  -webkit-transition-property: all;
  transition-property: all;
}

.skipMainContent:focus-within {
  left: 0;
}

.homeBody li:nth-child(1) {
  color: #F0EFED;
}

.topNav {
  padding: 20px 0;
  background-color: #F6A823;
}
.topNav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.topNav ul li {
  margin: 0 30px;
  text-transform: uppercase;
  font-weight: 700;
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}
.topNav ul li:focus-within, .topNav ul li:hover {
  color: white;
}
.topNav .logo {
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}
.topNav .logo:focus-within, .topNav .logo:hover {
  color: white;
}
.topNav .smallDevicesNav {
  display: none;
}

.navigationBar {
  background-color: #F6A823;
}

footer {
  background-color: black;
}
footer p {
  margin: 0;
  color: #F0EFED;
  padding: 10px 0;
  text-align: center;
}

.headerHome {
  background-color: #F6A823;
}
.headerHome .headerContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  min-height: 70vh;
  padding: 50px 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.headerHome .headerText {
  width: 58%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.headerHome .headerText h1 {
  padding-left: 80px;
  font-size: 6.5rem;
  line-height: 4.6rem;
  letter-spacing: 0px;
  text-transform: uppercase;
}
.headerHome .headerTitleImage {
  position: relative;
  width: 100%;
}
.headerHome .headerTitleImage img {
  position: absolute;
  top: -90px;
}
.headerHome .headerImage {
  width: 38%;
  height: 20vh;
  position: relative;
}
.headerHome .headerImage img {
  -webkit-box-shadow: 18px 18px 0px 2px white;
          box-shadow: 18px 18px 0px 2px white;
  position: absolute;
  top: -155px;
}

.aboutSophie {
  background-color: #F0EFED;
  padding: 150px 0;
}

.sophieHistory {
  padding: 75px 0 100px 0;
  position: relative;
}
.sophieHistory .sophieFavourite .favouriteImage img {
  top: -135px;
}
.sophieHistory .sophieFavourite .favouriteText {
  text-align: left;
  padding-left: 100px;
  width: 50%;
  margin-bottom: 20px;
}
.sophieHistory .sophieTravel .travelledImage {
  margin-left: 50px;
}
.sophieHistory .sophieTravel .travelledImage img {
  top: 0px;
  left: -125px;
}
.sophieHistory .sophieTravel .travelledText {
  text-align: right;
  width: 50%;
  padding-right: 140px;
}
.sophieHistory .absoluteSenary {
  position: absolute;
  background-color: #A82706;
  width: 50%;
  height: 365px;
  top: -35px;
  left: -30px;
}
.sophieHistory .absoluteTertiary {
  position: absolute;
  background: #F6A823;
  width: 50%;
  height: 365px;
  bottom: 85px;
  right: 8px;
}

.sophieFavourite,
.sophieTravel {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.favouriteImage,
.travelledImage {
  width: 50%;
  height: 365px;
  position: relative;
}
.favouriteImage img,
.travelledImage img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
  width: 100%;
  z-index: 10;
  position: absolute;
}

.bottomNav {
  background-color: #F0EFED;
  padding: 100px 0 50px 0;
}
.bottomNav .bottomNavFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.bottomNav .bottomNavFlex .bottomNavSection {
  -ms-flex-preferred-size: 47%;
      flex-basis: 47%;
  padding-bottom: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.bottomNav .bottomIcons {
  font-size: 1.5rem;
  background-color: #F6A823;
  padding: 15px;
  border-radius: 50%;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.bottomNav .iconContainer {
  position: relative;
  top: -15px;
}
.bottomNav .bottomNavText {
  margin-left: 30px;
}

.decorativeSection {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.decorativeSection img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.sophieJourney {
  padding: 100px 0;
  background-color: #F0EFED;
}
.sophieJourney .sophieJourneyFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.sophieJourney .sophieJourneyFlex .journeyImageContainer {
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
}
.sophieJourney .sophieJourneyFlex .journeyImageContainer img {
  -webkit-box-shadow: 20px 20px 0px 2px #F6A823;
          box-shadow: 20px 20px 0px 2px #F6A823;
}
.sophieJourney .sophieJourneyFlex .journeyText {
  -ms-flex-preferred-size: 64%;
      flex-basis: 64%;
}
.sophieJourney .sophieJourneyFlex .journeyText p {
  padding: 10px 0;
}

.gallery .galleryFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 100px 0;
}
.gallery .galleryFlex .galleryItem {
  -ms-flex-preferred-size: 31.5%;
      flex-basis: 31.5%;
}

.blogForm .formFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.blogForm .formFlex .personalDetails {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 2%;
  width: 100%;
}
.blogForm .formFlex .personalDetails input {
  -ms-flex-preferred-size: 49%;
      flex-basis: 49%;
  width: 49%;
  border: none;
  padding: 20px 30px;
}
.blogForm .formFlex .personalDetails input::-webkit-input-placeholder {
  color: #4F4F4F;
  opacity: 1;
  font-family: inherit;
  font-style: italic;
}
.blogForm .formFlex .personalDetails input::-moz-placeholder {
  color: #4F4F4F;
  opacity: 1;
  font-family: inherit;
  font-style: italic;
}
.blogForm .formFlex .personalDetails input:-ms-input-placeholder {
  color: #4F4F4F;
  opacity: 1;
  font-family: inherit;
  font-style: italic;
}
.blogForm .formFlex .personalDetails input::-ms-input-placeholder {
  color: #4F4F4F;
  opacity: 1;
  font-family: inherit;
  font-style: italic;
}
.blogForm .formFlex .personalDetails input::placeholder {
  color: #4F4F4F;
  opacity: 1;
  font-family: inherit;
  font-style: italic;
}
.blogForm .formFlex .personalDetails input[type=text] {
  margin-right: 2%;
}
.blogForm .formFlex textarea {
  border: none;
  resize: none;
  padding: 20px 30px;
  margin-bottom: 20px;
}
.blogForm .formFlex textarea::-webkit-input-placeholder {
  color: #4F4F4F;
  opacity: 1;
  font-family: inherit;
  font-style: italic;
}
.blogForm .formFlex textarea::-moz-placeholder {
  color: #4F4F4F;
  opacity: 1;
  font-family: inherit;
  font-style: italic;
}
.blogForm .formFlex textarea:-ms-input-placeholder {
  color: #4F4F4F;
  opacity: 1;
  font-family: inherit;
  font-style: italic;
}
.blogForm .formFlex textarea::-ms-input-placeholder {
  color: #4F4F4F;
  opacity: 1;
  font-family: inherit;
  font-style: italic;
}
.blogForm .formFlex textarea::placeholder {
  color: #4F4F4F;
  opacity: 1;
  font-family: inherit;
  font-style: italic;
}

.blogBody {
  background-color: #F0EFED;
}
.blogBody .topNav {
  padding: 20px 0;
  background-color: #F6A823;
}
.blogBody .topNav li:nth-child(4) {
  color: #F0EFED;
}
.blogBody header .wrapper {
  position: relative;
}
.blogBody header h1 {
  position: absolute;
  bottom: -39px;
  left: 0px;
}
.blogBody header img {
  -o-object-fit: contain;
     object-fit: contain;
  width: 100%;
}
.blogBody section {
  padding: 100px 0;
}
.blogBody .blogSection {
  background-color: white;
  padding: 40px;
  margin-top: 40px;
}
.blogBody .recentPosts .blogHeading {
  margin-top: 0px;
}

.blogFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.blogFlex .blogInformation {
  -ms-flex-preferred-size: 33.3333333333%;
      flex-basis: 33.3333333333%;
}
.blogFlex .blogInformation .blogHeading {
  font-size: 1.2rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 700;
}
.blogFlex .blogInformation .recentPosts li {
  position: relative;
  padding-left: 20px;
}
.blogFlex .blogInformation .recentPosts li::before {
  content: "";
  display: inline-block;
  background-color: #F6A823;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  position: absolute;
  top: 45%;
  left: 0;
}
.blogFlex .blogContent {
  -ms-flex-preferred-size: 62.6666666667%;
      flex-basis: 62.6666666667%;
}
.blogFlex .blogContent .blogPost {
  border-bottom: 6px solid #F6A823;
}
.blogFlex .blogContent .blogPost .blogPublisher {
  font-style: italic;
}
.blogFlex .blogContent .blogPost .blogUsername {
  color: #25595E;
  font-weight: bold;
}
.blogFlex .blogComments {
  border-bottom: 6px solid #F6A823;
}
.blogFlex .blogComments .comment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.blogFlex .blogComments .comment .commentImageContainer {
  width: 16.6666666667%;
}
.blogFlex .blogComments .comment .commentText {
  width: 83.3333333333%;
  margin-left: 10px;
}
.blogFlex .blogComments .commentPublisher {
  color: #25595E;
  font-weight: bold;
  font-style: italic;
  margin: 0;
}
.blogFlex .blogForm {
  margin-top: 40px;
}

.contactBody {
  position: relative;
  min-height: 100vh;
  background-color: #F0EFED;
}
.contactBody .topNav {
  padding: 20px 0;
  background-color: #F6A823;
}
.contactBody .topNav li:nth-child(5) {
  color: #F0EFED;
}
.contactBody header {
  position: relative;
}
.contactBody header img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}
.contactBody header h1 {
  position: relative;
  bottom: 45px;
  left: 0;
  z-index: 10;
}

.contactOverall {
  background-color: #F0EFED;
  padding-bottom: 100px;
}
.contactOverall .contactFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.contactOverall .contactInformation {
  -ms-flex-preferred-size: 30.3333333333%;
      flex-basis: 30.3333333333%;
  width: 30.3333333333%;
  background-color: white;
  height: 50%;
  padding: 30px;
  margin-bottom: 20px;
}
.contactOverall .contactInformation .socialMediaBar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.contactOverall .contactInformation .contactIconContainer {
  margin-right: 30px;
  margin: 0 10px;
}
.contactOverall .contactInformation .contactIconContainer .contactIcon {
  color: #F6A823;
}
.contactOverall .contactInformation .contactEmail {
  font-weight: bold;
  margin: 10px 0;
}
.contactOverall .contactInformation span {
  display: block;
}
.contactOverall .blogForm {
  -ms-flex-preferred-size: 66.6666666667%;
      flex-basis: 66.6666666667%;
  width: 66.6666666667%;
}
.contactOverall i {
  font-size: 1.2rem;
}

.contactBody footer {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
}

@media (max-width: 1240px) {
  .headerHome .headerContent h1 {
    font-size: 5.5rem;
  }
  .headerHome .headerContent .headerImage {
    height: auto;
  }
  .headerHome .headerContent .headerImage img {
    position: initial;
  }
}
@media (max-width: 1060px) {
  .headerHome .headerContent {
    min-height: 50vh;
  }
  .headerHome .headerContent h1 {
    padding-left: 0;
    width: 100%;
    text-align: center;
  }
  .headerHome .headerContent .headerTitleImage img {
    top: -64px;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    rotate: 380deg;
  }
  .headerHome .headerContent .headerImage img {
    -webkit-box-shadow: 10px 10px 0px 2px white;
            box-shadow: 10px 10px 0px 2px white;
  }
}
@media (max-width: 940px) {
  .topNav {
    padding: 40px 0;
  }
  .topNav ul {
    display: none;
  }
  .topNav .smallDevicesNav {
    display: block;
    width: 100%;
    position: relative;
  }
  .topNav .smallDevicesNav button {
    position: absolute;
    right: 0;
    top: -6px;
    background-color: #F6A823;
    padding: 0;
    font-size: 40px;
  }

  .homeBody .topNav {
    padding-top: 20px;
  }

  .headerHome .headerContent {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .headerHome .headerContent .headerTitleImage img {
    top: -94px;
  }
  .headerHome .headerContent .headerImage {
    width: 60%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .headerHome .headerContent .headerImage img {
    -webkit-box-shadow: none;
            box-shadow: none;
    border: 4px white solid;
  }
  .headerHome .headerText {
    margin-top: 100px;
    width: 100%;
  }
  .headerHome .headerText h1 {
    font-size: 4.5rem;
    position: relative;
    top: -28px;
  }

  .aboutSophieFlex {
    text-align: center;
  }
  .aboutSophieFlex p {
    margin: 40px 0;
  }

  .sophieHistory p {
    margin: 40px 0;
  }
  .sophieHistory .sophieFavourite .favouriteImage {
    width: 100%;
    -webkit-box-shadow: -12px -12px 0 2px #A82706;
            box-shadow: -12px -12px 0 2px #A82706;
  }
  .sophieHistory .sophieFavourite .favouriteImage img {
    position: initial;
  }
  .sophieHistory .sophieFavourite .favouriteText {
    width: 100%;
    padding: 0;
    margin: 20px 0 60px 0;
    text-align: center;
  }
  .sophieHistory .sophieTravel .travelledImage {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
    width: 100%;
    margin-left: 0;
    -webkit-box-shadow: 12px 12px 0 2px #F6A823;
            box-shadow: 12px 12px 0 2px #F6A823;
  }
  .sophieHistory .sophieTravel .travelledImage img {
    position: initial;
  }
  .sophieHistory .sophieTravel .travelledText {
    width: 100%;
    padding: 0;
    margin: 20px 0 0 0;
    text-align: center;
  }

  .absoluteSenary,
.absoluteTertiary {
    display: none;
  }

  .sophieFavourite,
.sophieTravel {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .bottomNavFlex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .bottomNavFlex .marginFixNav {
    margin-left: 38px;
  }

  .journeyText {
    text-align: center;
  }
  .journeyText a {
    width: 100%;
  }

  .sophieJourney img {
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }

  .galleryFlex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    justify-items: center;
  }
  .galleryFlex .galleryItem {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 20px 0;
  }

  .contactOverall {
    padding: 75px 0px 150px 0px;
  }
  .contactOverall .contactFlex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .contactOverall .contactInformation {
    width: 66%;
    position: relative;
  }
  .contactOverall .contactInformation .socialMediaBar {
    position: absolute;
    top: -33%;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
  }
  .contactOverall .contactInformation .socialMediaBar .contactIconContainer {
    margin: 0;
  }
  .contactOverall i {
    font-size: 1.5rem;
  }
}
@media (max-width: 768px) {
  .homeBody .readMore {
    min-width: 60%;
  }

  .sophieHistory h3 {
    margin-top: 20px;
  }

  .sophieJourney .sophieJourneyFlex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .sophieJourney .sophieJourneyFlex .journeyImageContainer img {
    -webkit-box-shadow: none;
            box-shadow: none;
    border: 4px solid #F6A823;
  }
  .sophieJourney h3 {
    margin-top: 30px;
  }

  .contactBody h1 {
    font-size: 3.2rem;
    width: 100%;
    text-align: center;
  }

  .contactOverall .contactInformation,
.contactOverall .blogForm {
    width: 100%;
  }
  .contactOverall .formFlex .personalDetails {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    margin: 20px 0px 0px 0px;
  }
  .contactOverall .formFlex .personalDetails input {
    margin: 0px 0px 20px 0px;
    width: 100%;
  }
  .contactOverall .formFlex .personalDetails input[type=text] {
    margin-right: 0;
  }
}
@media (max-width: 600px) {
  .contactBody header img {
    height: 35vh;
  }
  .contactBody header h1 {
    bottom: 70px;
    line-height: 3.6rem;
  }
}
@media (max-width: 480px) {
  .topNav .smallDevicesNav button {
    right: 10px;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }

  .headerHome .wrapper {
    width: 100%;
  }
  .headerHome .headerContent {
    top: 10%;
  }
  .headerHome .headerContent h1 {
    font-size: 3.5rem;
  }
  .headerHome .headerContent .headerTitleImage img {
    top: -75px;
  }

  .aboutSophie {
    padding: 75px 0;
  }

  .bottomNav {
    padding-bottom: 0;
  }
  .bottomNav .bottomNavSection {
    position: relative;
  }
  .bottomNav .bottomNavSection .botNavContainer {
    position: absolute;
  }
  .bottomNav .bottomNavSection .bottomNavText {
    margin-left: 0;
  }
  .bottomNav .bottomNavSection .bottomNavText h3 {
    font-size: 1.4rem;
    margin-left: 75px;
  }

  .decorativeSection {
    display: none;
  }

  .sophieJourney {
    padding-top: 50px;
  }
}
@media (max-width: 342px) {
  .getInTouchNav .iconContainer {
    top: -7px;
  }
}
@media (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }

  body {
    -webkit-animation: none;
            animation: none;
  }
}